<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Admin dashboard</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
</head>
<body>

<div class="jumbotron jumbotron-fluid text-center display-3"><span class="badge badge-dark">LinkSaver</span> Admin Dashboard</div>
<br>
<a href="/admin-logout"><input type="button" value="logout" class="btn btn-warning"></a>


<br>

<table class="table table-dark table-striped">
	<thead>
      <tr>
        <th>Username</th>
        <th>Number of links</th>
      </tr>
    </thead>
    <tbody>
      {% for x in allusers: %}
      <tr>
        <td>{{x.username}}</td>
        <td><a href="/deleteuser/{{x.id}}"><input type="button" value="Delete user" class="btn btn-danger"></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
 </table>



</body>
</html>