<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Change password</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
	
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<div class="jumbotron jumbotron-fluid text-center"><div class="display-3"><span class="badge badge-dark">LinkSaver</span> </div>
<br>
<kbd>Save links to view later</kbd>
</div>

<br>

<div class="container text-center">
	<div class="display-4">Change password</div>
	<br>

	<form  action="/change-password" method="POST" autocomplete="off">
	 <label for="oldpswrd">Enter old password:<input type="password" name="oldpswrd" required> </label><br>
	 <label for="newpswrd">Enter new password:<input type="password" name="newpswrd" required> </label><br>
	 <label for="conf-pswrd">Re-enter new password:<input type="password" name="conf-pswrd"> </label><br>
	 <input type="submit" value="Change password" class="btn btn-primary">
	</form>

{% if conf_pswrd_error: %}
	<div class="alert alert-warning"> Password conformation didint matched</div>
{% endif %}


{% if old_pswrd_error: %}
	<div class="alert alert-danger"> Entered old password is incorrect</div>
{% endif %}

</div>


</body>
</html>